{% extends 'base.html' %}




        <!-- Sidebar Start -->
        {% block menuleft %}
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/home/" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkConflicts</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">{{ user }}</h6>
                        <span>ip: {{ user.gameip }}</span>
                    </div>
                </div>








                <div class="navbar-nav w-100">
                    <a href="/" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>HOME</a>


                <div class="navbar-nav w-100">
                    <a href="/task/" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>TASK MANAGER</a>


                    <a href="/software/" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Software</a>


                    <a href="/hardware/" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>HARDWARE</a>


                    <a href="/log/" class="nav-item nav-link"><i class="fa fa-table me-2"></i>LOG</a>



                    <a href="/database/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>DATABASE</a>


                     <a href="/internet/" class="nav-item nav-link "><i class="fa fa-chart-bar me-2"></i>NETWORK</a>


                     <a href="/ranking/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>ranking</a>

                     <a href="/finances/" class="nav-item nav-link active"><i class="fa fa-chart-bar me-2"></i>Finances</a>




                </div></div>
            </nav>
        </div>
        {% endblock %}
        <!-- Sidebar End -->


{% block content %}







<div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <img src="https://cdn.pixabay.com/photo/2017/01/20/17/08/bitcoin-1995366_960_720.jpg">
                <div class="card-body">
                  <p class="card-text">
                        </br> carteira : {{ btc_wallet.account }}</br>
                        saldo : {{ btc_wallet.balance }} bitcoins
                        </br>


                  </p>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">login</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
                <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <img src="https://st.depositphotos.com/1474768/1623/i/450/depositphotos_16232671-stock-photo-the-glass-wall-with-the.jpg">
                <div class="card-body">
                  <p class="card-text">
                        </br> conta : {{ bank_wallet.account }}</br>
                        saldo : USD: {{ bank_wallet.balance }}
                        </br>


                  </p>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">login</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>




{% endblock %}