{% extends 'internetip.html' %}
{% block bloco_ip_valido %}


  </br>
  </br>

Server {{ ip_victim }} is <font color="green"><b>online</b></font><span class="label label-warning pull-right"></span></p>
  {{ text_vpc }}  {{ text_npc|safe }}

<form method="post">
		{% csrf_token %}{{ form_login_victim }}
	<input type="submit" value="login">
	</form>




</div>
</div>
<div style="clear: both;" class="nav nav-tabs">&nbsp;</div>
</div>


   {% if  not ishacked %}

	<form method="post" name="hackip" >
	<input type="submit" value="Try hack" name='tryhack'>
	{% csrf_token %}
	</form>

{% endif %}

{{ msgbroke | safe }}
{% endblock %}