{% extends 'base.html' %}





        <!-- Sidebar Start -->
        {% block menuleft %}
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/home/" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkConflicts</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">{{ user }}</h6>
                        <span>ip: {{ user.gameip }}</span>
                    </div>
                </div>  

                       


                        


                
                <div class="navbar-nav w-100">
                    <a href="/" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>HOME</a>


                <div class="navbar-nav w-100">
                    <a href="/task/" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>TASK MANAGER</a>


                    <a href="/software/" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Software</a>


                    <a href="/hardware/" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>HARDWARE</a>


                    <a href="/log/" class="nav-item nav-link"><i class="fa fa-table me-2"></i>LOG</a>



                    <a href="/database/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>DATABASE</a>


                     <a href="/internet/" class="nav-item nav-link active"><i class="fa fa-chart-bar me-2"></i>NETWORK</a>


                     <a href="/ranking/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>ranking</a>

  <a href="/finances/" class="nav-item nav-link "><i class="fa fa-chart-bar me-2"></i>Finances</a>


                    
                </div>
            </nav>
        </div>
        {% endblock %}
        <!-- Sidebar End -->



{% block content %}





    <div class="span9">
    <div class="widget-box" >
    <div class="widget-content padding">
    <div class="span12">

        <form method="post">
            {% csrf_token %}{{ form_find_ip }}
        <input type="submit" value="find ip">
        </form>

    <div class="control-group">
    <div class="controls">
    <div class="input-prepend">
    <div class="form-actions">
    </div>

    </div>
    </br></br></br></br></br>


    </div>
    </form>
    </div>
    <div style="clear: both;"></div>
    </div>
    </div>
    <div class="widget-box">
    <div class="widget-title">

    </div>
    <div class="widget-content padding noborder">
    <div class="span12">
<FONT FACE=Courier COLOR="#AA0000">{{ msgerro }}</FONT>

{% block bloco_ip_valido %}
  {% endblock %}
{% endblock %}