{% extends 'base.html' %}



        <!-- Sidebar Start -->
        {% block menuleft %}
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/home/" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkConflicts</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">{{ user }}</h6>
                        <span>ip: {{ user.gameip }}</span>
                    </div>
                </div>  

                       


                        


                
                <div class="navbar-nav w-100">
                    <a href="/" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>HOME</a>


                <div class="navbar-nav w-100">
                    <a href="/task/" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>TASK MANAGER</a>


                    <a href="/software/" class="nav-item nav-link active"><i class="fa fa-th me-2"></i>Software</a>


                    <a href="/hardware/" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>HARDWARE</a>


                    <a href="/log/" class="nav-item nav-link"><i class="fa fa-table me-2"></i>LOG</a>



                    <a href="/database/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>DATABASE</a>


                     <a href="/internet/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>NETWORK</a>


                     <a href="/ranking/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>ranking</a>



                    
                </div>
            </nav>
        </div>
        {% endblock %}
        <!-- Sidebar End -->












{% block content %}





            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Ranking</h6>
                        
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            


						<thead>
						<tr>
						<th></th>
						<th>Software name</th>
						<th>Version</th>
						<th class="hide-phone">Size</th>
						<th>Actions</th>
						</tr>
						</thead>
                        
						<tbody>{% for soft in softwares %}


						<tr id="{{ soft.id }}" class="installed">
						<td>

						</td>
						<td>                             {% if soft.softtype_id == 1 %}
                                {{ soft.softname }}.BruteForce
                            {% elif soft.softtype_id == 2 %}
                                {{ soft.softname }}.Defender
                            {% elif soft.softtype_id == 3 %}
                                {{ soft.softname }}.PortScan
                            {% elif soft.softtype_id == 4 %}
                                {{ soft.softname }}.Firewall
                            {% elif soft.softtype_id == 5 %}
                                {{ soft.softname }}.Hidder
                            {% elif soft.softtype_id == 6 %}
                                {{ soft.softname }}.Seeker
                            {% elif soft.softtype_id == 7 %}
                                {{ soft.softname }}.Anti-Virus
                            {% elif soft.softtype_id == 8 %}
                                {{ soft.softname }}.Spam
                            {% elif soft.softtype_id == 9 %}
                                {{ soft.softname }}.Warez
                            {% elif soft.softtype_id == 10 %}
                                {{ soft.softname }}.DDoS
                            {% elif soft.softtype_id == 11 %}
                                {{ soft.softname }}.Collector
                            {% elif soft.softtype_id == 12 %}
                                {{ soft.softname }}.Breaker
                            {% elif soft.softtype_id == 13 %}
                                {{ soft.softname }}.FTPExploit
                            {% elif soft.softtype_id == 14 %}
                                {{ soft.softname }}.SSHExploit
                            {% elif soft.softtype_id == 15 %}
                                {{ soft.softname }}.Nmap
                            {% elif soft.softtype_id == 16 %}
                                {{ soft.softname }}.Analyzer
                            {% elif soft.softtype_id == 17 %}
                                {{ soft.softname }}.Torrent
                            {% elif soft.softtype_id == 18 %}
                                {{ soft.softname }}.Miner

                            {% endif %}

						<b>


                        </b>
						</td>
						<td>
						<font color="green">{{ soft.softversion }}</font>
						</td>
						<td class="hide-phone">
						<font color="green">{{ soft.softsize }}</font>
						</td>
						          <td style="text-align: center">

                        <form method="post" name="upload">
                            {% csrf_token %}
                        <input type="submit" value="upload" name='uploadsoftid={{ soft.id }}'>
                         
                        
                        
                            <form method="post" name="delsoft">
                            {% csrf_token %}
                        <input type="submit" value="delete" name='delsoftid={{ soft.id }}'>
                        </td>
						</tr>
						{% endfor %}





                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->

{% endblock %}




